.footer {
    max-width: 400px;
    margin: 0px auto -1%;
    background:white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
}

.box {
    max-width: 400px;
    margin: 0px auto -1%;
    background:  #FEE715FF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.footerBox {
    margin: auto;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #800080;
}
.add {
    margin-left: 200px;
}